# Виртуальное окружение
venv/
env/
.venv

# Python
__pycache__/
*.py[cod]
*.so
.Python

# Данные 
data/
*.csv
*.npy


# Модели 
models/
*.pth
*.pt

# Логи 
logs/
*.log
*.csv

# Настройки редакторов
.vscode/
.idea/

# Папки с изображениями 
images/
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.svg