# Виртуальное окружение
venv/
env/
.venv

# Python
__pycache__/
*.py[cod]
*.so
.Python

# Данные 
data/
*.csv
*.npy


# Модели 
models/
*.pth
*.pt

# Логи 
logs/
*.log

# Настройки редакторов
.vscode/
.idea/